{% extends 'list.html' %}
{% block head_list %}

{% endblock %}

{% block columns %}

    <tr>
      <th scope="col">Nro Documento</th>
      <th scope="col">Apellido</th>
      <th scope="col">Nombre</th>
      <th scope="col">Departamento</th>
      <th scope="col">IMG_DOC.</th>
      <th scope="col">Editar / Eliminar</th>
    </tr>

{% endblock %}

{% block rows %}
{% for obj in object_list %}
        <tr>
            <td>{{ obj.nro_dni }}</td>
            <td>{{ obj.apellido }}</td>
            <td>{{ obj.nombre }}</td>
            <td>{{ obj.departamento_id}}</td>
            <td>
            <img src="{{ request.persona.get_image }}" class="img-fluid d-block mx-auto" style="width: 20px; height: 20px;" alt="none">
            </td>
            <td class="text-center">
                <a href="{% url 'persona:persona_update' c.id %}" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="#" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

    


